<!DOCTYPE html>
<html lang="en">
  <head>
    <title>vp_blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/search.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Posts</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/index.html">Home</a></li>
            <li><a href="{% url "blog_posts:post_new" %}">New</a></li>
          </ul>
          <div class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" id="search-input">
            </div>
            <button type="submit" class="btn btn-primary" onclick="search()">Submit</button>
          </div>
        </div>
      </div>
    </nav>
    <div class="container" id="div-container-posts">
      {% for post in object_list %}
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default post">
              <div class="panel-heading">
                <a href="{% url "blog_posts:post_edit" post.id %}">#{{ post.id }}</a> {{ post.title }}
              </div>
              <div class="panel-body">
                <p>{{ post.text }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
