<!DOCTYPE html>
<html lang="en">
  <head>
    <title>vp_blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/posts">Posts</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url "blog_posts:post_new" %}">New</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="margin-top:70px">
      <div class="row">
        <div class="col-md-12">
          <form  method="post">{% csrf_token %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="fieldWrapper">
                  {{ form.title.errors }}
                  {{ form.title }}
                </div>
                </div>
              <div class="panel-body">
                <div class="fieldWrapper">
                  {{ form.text.errors }}
                  {{ form.text }}
                </div>
              </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
